body {
    background-image:url("bg5.jpg");
    background-size: 1600px 1500px;
    background-repeat: no-repeat;

}
h1{
    color: white;
    margin-block-start: 70px;
    text-align: center;
    font-family: Garamond;
    font-size: 55px;

}
form{
    color: white;
    text-align: center;
    align-content: center;
    font-family: verdana;
    font-size: 30px;
}
label{
    text-align: left;
}
select {
  width: 100%;
  padding: 12px 65px;
  margin: 7px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}
select, option {
    background-color: white ;
    
}
input[type=submit] {
  width: 20%;
  background-color: #FFD700;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}

input[type=submit]:hover {
  background-color: #DAA520;
}
table.Tbl{
      margin-left: auto;
      margin-right: auto;
      text-align: left;
     }
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
 /* Had used the below code for animation of sidenav*/
/* animation: mymove 5s infinite;
   animation-timing-function: ease-out;*/
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
input[type=text]{
    width: 60%;
    padding: 6px;
    height: 10%;
    font-size: 20px;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 35%;
  height: 50%;
  padding: 20px;
  text-align: center;
}
.bg-image {
  /* The image used */
  background-image: url("bg5.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*input[type=submit value=Login] {
  width: 60%;
  background-color: #FFD700;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}*/

/* The Modal (background) */
.modal {
  
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #FFD700;
  margin: auto;
  color:white;
  padding: 30px;
  border: 1px solid #888;
  width: 50%;
  height: 10%;
  font-size: 27px;
  padding-top: 35px;
 
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  bottom:35px;
  left:10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}