
body {
    background-image:url("bg5.jpg");
    background-size: 1600px 1500px;
    background-repeat: no-repeat;
}
h1{
    color: white;
    /* margin-block-start: 70px; */
    text-align: center;
    font-family: Garamond;
    /* font-size: 55px; */
    position: relative;
    /* top: -145%; */
    font-size: clamp(2rem, 10vw, 5rem);
}
form{
    color: white;
    text-align: center;
    align-content: center;
    font-family: verdana;
    font-size: 30px;
}
label, th{
    position: relative;
    color: white;
    font-size: clamp(1rem, 5vw, 2rem);
    text-align: center;
    margin-right: 10%;
}
select, input[type=text] {
  width: 100%;
  padding: 5px 65px;
  margin: 7px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
select, option, input[type=text] {
    background-color: white ;
    text-align: center;
    font-size: clamp(1rem, 3vw, 2rem);
}

input[type=submit] {
  width: 20%;
  background-color: #FFD700;
  color: white;
  padding: 0.75rem;
  /* margin: 8px 0; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}

input[type=submit]:hover {
  background-color: #DAA520;
}
table.Tbl{
      margin-left: auto;
      margin-right: auto;
      text-align: left;
     }
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
 /* Had used the below code for animation of sidenav*/
/* animation: mymove 5s infinite;
   animation-timing-function: ease-out;*/
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: yellow;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* input[type=text]{
    width: 60%;
    padding: 6px;
    height: 10%;
    font-size: 20px;
} */

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 35%;
  height: 50%;
  padding: 20px;
  text-align: center;
}
.bg-image {
  /* The image used */
  /* background-image: url("bg5.jpg"); */
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*input[type=submit value=Login] {
  width: 60%;
  background-color: #FFD700;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}*/

#box{
  background: rgb(251, 215, 35);
  border: 5px solid white;
  border-radius: 20px;
  padding: 18px;
  width: 40%;
  position: relative;
  margin: auto;
  color: white;
  font-size: clamp(1rem, 5vw, 3rem);
  text-align: center;
}

/* The user details when the user clicks on the profile icon */
#userDetails{
  position: absolute;
  z-index: 2;
  background-color: white;
  /* margin-left: 60%; */
  border: 5px solid white;
  border-radius: 6px;
  top: clamp(3.5rem, 18vw, 9rem); 
  right: 5%;
}
/* the below is for the tooltip which is not aligned correctly */
/* #userDetails::after{
  content: "";
  position: "absolute";
  bottom: 100%;
  left: 50%;
  margin-left: -0.5rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent transparent white transparent;
} */

/* The Modal (background) */
.modal {
  
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #FFD700;
  margin: auto;
  color:white;
  padding: 30px;
  border: 1px solid #888;
  width: 50%;
  height: 10%;
  font-size: 27px;
  padding-top: 35px;
 
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  bottom:35px;
  left:10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#past_date_input {
  height: 6%;
    width: 19%;
    position: absolute;
    left: 49%;
}
.DateAlign {
    text-align: left;
    position: absolute;
    left: 30%;
    font-size: 30px;
}


.rate {
  float: left;
  height: 46px;
  /* padding: 0 10px; */
  padding-right: 30%;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label
 {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
 content:' ★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label
{
  color: #deb217;  
}


.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
 
.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}
 
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
 
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

/* .rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: blue;
} */

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

/* Media Queries */
/* Always use media queries at the end, since CSS will override the styling based on the correct conditions. */

/* While using min-width - enter the pixels in ascending order */
/* While using max-width - enter the pixels in descending order */

/* Here since we are using max-width we are ordering it in descending order - 500, 426, 376, 320 */
/* We do this so that the correct media queries do not get overridden by the higher pixel media queries */

@media screen and (max-width: 500px){
  select, input[type=text] {
    width: 100%;
    font-size: clamp(1rem, 3vw, 2rem);
    margin: 3% 0% 0% 0%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* box-sizing: border-box; */
    text-align: center;
    height: 1.75rem;
  }
  input[type=text]{
    width: 97%;
  }
  input[type=submit]{
    width: 90%;
    font-size: clamp(1rem, 6vw, 10rem);
  }
}