{% extends "base.html" %}
{% block content %}

{% if submitted == "Yes" %}
<div  id="myModal" class="modal">
  <div class="modal-content">
  <span class="close">&times;</span> 
  <strong>Thank you, the item has been added to the databse!</strong>
  </div>
</div>
{% endif %}

<form action="/items/{{user_id}}" method="POST">
  <table class="Tbl">
    <tr>
      <th style="font-size:70%;">Item Name</th>
      <th>
        <input type="text" name="ItemName" id="itemname" onkeypress='validate_txt(event)' required>
      </th>
      </tr>
      <br>
      <tr>
      <th style="font-size:70%;">Item Price</th>
      <th>
         <input type="text" name="ItemPrice" id="itemprice" onkeypress='validate(event)'  required>
      </th>
      </tr>
      <tr>
        <th class="alignh" style="font-size: 70%;">Effective From</th>
        <th>
          <input type="date" name="effectiveFrom" id="effectiveFrom">
          <!-- here have to put a calendar -->
        </th>
      </tr>
  </table>
  <!--br>
  <br-->
  
  <br><br>
  
  <input type="submit" value="Submit" class="submitbutton" id="submitbutton">
</form>
<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  var r1=function validate(e){

    var x = e.which || e.keycode;
             if ((x >= 48 && x <= 57 ))
                 return true;
             else
             {
                alert('plz enter a number in item price field');
                 return false;
              }
            return 0;
  }
function validate_txt(e){

var x = e.which || e.keycode;
         if ((x >= 48 && x <= 57 ))
         {
             alert('plz do not enter a number in item name field');
             return false;
        }
         else if (((x >= 65 && x <= 90) || (x >= 97 && x <= 122) ))
             return true;
         else
            {
            alert('Please enter a valid input in the item name field')
            return false;
            }
}

if (r1==false && r2==false)
{
  alert('Incorrect Inputs!')
  document.getElementById("submitbutton").disabled =  true;
}

function setdefaultdates() {
    
    let d = new Date()
    // d will have value like - "Wed Apr 20 2022 12:58:53 GMT+0530 (India Standard Time)"
    let today = d.toISOString().substr(0, 10);
    document.getElementById("effectiveFrom").value = today;
   
}

  </script>
{% endblock %}