{% extends "base.html" %}
{% block head %}
<title>Change Milk Requirements</title>
<meta name="viewport" content= "width=device-width, initial-scale=1.0">
<style>
  #fromDate,#toDate {
    text-align: center;
    font-size: clamp(1rem, 3vw, 2rem);
    border: white;
    height: clamp(1rem, 5vw, 2rem);
    position: relative;
    border-radius: 6px;
    width: 98%;
    height: 1.75rem;
    margin: 3% 1% 0% 0%;
  }
  .alignh{
    height: 5%;
  }
</style>
{% endblock %}
{% block content %}

{% if submitted=="Yes" %}
<div  id="myModal" class="modal">
  <div class="modal-content" style="height: fit-content; width:50%; font-size: clamp(1rem,4vw,6rem);">
  <span class="close">&times;</span> 
  <strong>Thank you, below inputs have been registered!</strong>
  <br>
  <br>
  <script>
    // var cm = '{{ cm }}'
    var cm = "{{ form_data['cm'] }}"
    var bm = "{{ form_data['bm'] }}"
    // var bm= '{{ bm }}'
    var form_data='{{ form_data }}'

    from_date= "{{ form_data['fromDate'] }}"
    to_date= "{{ form_data['toDate'] }}"
    document.write("<strong>From Date:</strong>"+from_date+" <br>")
    document.write("<strong>To Date:</strong>"+to_date+"<br>")
    document.write("<strong>Cow Milk:</strong>"+cm+"L <br>") 
    document.write("<strong>Buffalow Milk:</strong>"+bm+"L <br>")
  // if ('{{ display_date }}'=="True")
  // {
    // past_date='{{ past_date }}'
  // }
  </script>
  </div>
</div>
{% endif %}

  <div id="box" class="box">
    <strong>Change Milk Quantity for Past/Future date</strong>
  </div>
<br>
<br>
<form action="/create/{{user_id}}" method="POST">
  <table class="Tbl">
  <!-- <tr>
    {% if display_date=='True' %}
    <div  id="past_date_row" style="display: block;">
         <label class="DateAlign"><strong>Date</strong></label>
        <input id="past_date_input" name="past_date_input" type="date" onclick="minmaxdate()">
     </div>
    {% endif %}
  </tr> -->
  <tr>
    <th class="alignh">From Date</th>
    <th><input type="date" name="fromDate" id="fromDate" required="required" onchange="changedateval()"></th>
  </tr>
  <tr>
    <th class="alignh">To Date</th>
    <th><input type="date" name="toDate" id="toDate" required="required"></th>
  </tr>
    <tr>
      <th class="alignh">Cow Milk</th>
      <th>
       <select id="cm" name="cm">
        <option value="0">0</option>
        <option value="0.5">1/2</option>
        <option value="1">1</option>
        <option value="1.5">1.5</option>
        <option value="2">2</option>
        <option value="2.5">2.5</option>
        <option value="3">3</option>
        <option value="0.0">No Change</option>
       </select>
      </th>
      </tr>
      <tr>
      <th class="alignh">Buffalow Milk</th>
      <th>
       <select id="bm" name="bm">
        <option value="0">0</option>
        <option value="0.5">1/2</option>
        <option value="1">1</option>
        <option value="1.5">1.5</option>
        <option value="2">2</option>
        <option value="2.5">2.5</option>
        <option value="3">3</option>
        <option value="0.0">No Change</option>
       </select>
      </th>
      </tr>
  </table>
  <br>
  <input type="submit" value="Submit">
</form>
<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
 function setdefaultdates() {
    
      let d = new Date()
      // d will have value like - "Wed Apr 20 2022 12:58:53 GMT+0530 (India Standard Time)"
      let today = d.toISOString().substr(0, 10);
      document.getElementById("fromDate").value = today;
      document.getElementById("toDate").value = today;
  }

document.getElementById("past_date_input").addEventListener("change",minmaxdate)
function minmaxdate() {
    let d = new Date()
    // d will have value like - "Wed Apr 20 2022 12:58:53 GMT+0530 (India Standard Time)"
    let today = d.toISOString().substr(0, 10);
    // toISOString() will return the date as "2022-04-20T07:35:36.917Z". Since we need only till index 10, we are taking the substring
    // today will have string 'YYYY-MM-DD' of the current day
    var input = document.getElementById("past_date_input");
  
    let d2 = new Date()
    d2.setFullYear(d.getFullYear(), d.getMonth()-5, 1)
    // setFullYear ('2022', 6months back, 1st day of the month)
    // when we do -5, it takes the date as 6 months back, and also goes to the previous year
    past_date = d2.toISOString().substr(0, 10);

    input.setAttribute("min", past_date);
    input.setAttribute("max", today);
}

      function changedateval(){
        // alert('hey: '+fromDate);
        var toDate=document.getElementById("toDate").value;
        var fromDate=document.getElementById("fromDate").value;
        document.getElementById("toDate").value = fromDate;
        // toDate.setAttribute("value",fromDate);  --this should hv worked, but it did not
      }
  </script>
{% endblock %}