{% extends "base.html" %}
{% block content %}
<form action="/action_page.php">
  <table class="Tbl">
    <tr>
      <th class="alignh">Cow Milk</th>
      <th>
       <select id="cm" name="cm">
        <option value="0">0</option>
        <option value="0.5">1/2</option>
        <option value="1">1</option>
        <option value="1.5">1.5</option>
        <option value="2">2</option>
        <option value="2.5">2.5</option>
        <option value="3">3</option>
       </select>
      </th>
      </tr>
      <br>
      <tr>
      <th class="alignh">Buffalow Milk</th>
      <th>
       <select id="cm" name="cm">
        <option value="0">0</option>
        <option value="0.5">1/2</option>
        <option value="1">1</option>
        <option value="1.5">1.5</option>
        <option value="2">2</option>
        <option value="2.5">2.5</option>
        <option value="3">3</option>
       </select>
      </th>
      </tr>
  </table>
  <!--br>
  <br-->
  <br><br>
  
  <input type="submit" value="Submit">
</form>
{% endblock %}