{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/report_css.css')}}">	
{% endblock %}

{% block content %}
<h1 style="font-size: 30px;"><strong> {{month_string}} Milk Report  </strong></h1>
<div id="mySidenav" class="sidenav_months" style="display: block;">
  <marquee style="font-size: 16px;" behavior="scroll" direction="left"><strong>Please note that the data only can be viewed for past six months...</strong> </marquee>
  <br>
  <br>
  {% for month_year in past_months_list %}
  <a href="{{url_for('report_month_year',user_id=user_id ,month=(month_year[0]), year=(month_year[1]))}}">{{month_year[2]}} {{month_year[1]}}</a>
  <br/>
  {% endfor %}
</div>
<label style=" position: absolute; color:white; font-size: 20px;
margin-left: 17%;"><strong>From Date:</strong></label>
<input type="date" name="FromDate" id="FromDate" style=" position: absolute;
margin-left: 25%;"> 
 <input style="position: absolute;
margin-left: 34%;" type="button" value="Go" onclick="qget()" id="Go"/>
<br><br>

<table id="customers">
  <tr>
    <th>Date</th>
    <th>Item Type</th>
    <th>Item Qty</th>
    <th>Price</th>
  </tr>
 {{FromDate}}
  {% for day_item in report_list %}
    
    {% for item in day_item %}
    {% if FromDate=='null' %}
    <tr>
      <td> {{ item['date'] }} </td>
      <td> {{ item['type'] }} </td>
      <td> {{ item['qty'] }} </td>
      <td> 0 </td>
    </tr>    
    {%  elif item['date']==FromDate  %}
      <tr>
        <td> {{ item['date'] }} </td>
        <td> {{ item['type'] }} </td>
        <td> {{ item['qty'] }} </td>
        <td> 0 </td>
      </tr>
    {% endif %}
    {% endfor %}
    
  {% endfor %}

</table>
 <!-- <table id="customers">
  <tr>
    <th>Date</th>
    <th>Cow</th>
    <th>Buffalow</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Alfreds</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Berglunds snabbköp</td>
    <td>Christina Berglund</td>
    <td>Sweden</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro </td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Königlich Essen</td>
    <td>Philip Cramer</td>
    <td>Germany</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Laughing</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
    <td>Canada</td>
  </tr>
</table> -->
<script>

  function qget () {
    // (A) APPEND DATA
    var x = document.getElementById("FromDate").value;
    var datevalue= x.substring(x.length-2); //to get the day from the date eg 2022-04-19 then get 19
    // (B) URL + REDIRECT
    location.replace("/report"+'/{{user_id}}/' + datevalue);
     
  }
  </script>
{% endblock %}

