{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/report_css.css')}}">	
{% endblock %}

{% block content %}
<h1><strong>Milk Report</strong></h1>
<table id="customers">
  <tr>
    <th>Date</th>
    <th>Item Type</th>
    <th>Item Qty</th>
    <th>Price</th>
  </tr>
  {% for day_item in report_list %}
    {% for item in day_item %}
      <tr>
        <td> {{ item['date'] }} </td>
        <td> {{ item['type'] }} </td>
        <td> {{ item['qty'] }} </td>
        <td> {{item['price']}} </td>
      </tr>
    {% endfor %}
  {% endfor %}
</table>
 <!-- <table id="customers">
  <tr>
    <th>Date</th>
    <th>Cow</th>
    <th>Buffalow</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Alfreds</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Berglunds snabbköp</td>
    <td>Christina Berglund</td>
    <td>Sweden</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro </td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Königlich Essen</td>
    <td>Philip Cramer</td>
    <td>Germany</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Laughing</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
    <td>Canada</td>
  </tr>
</table> -->
{% endblock %}