{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/report_css.css')}}">	
<link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content= "width=device-width, initial-scale=1.0">
<style>
  #report_total_box{
    /* padding-right: 20px;
    padding-left: 20px; */
    border-color: white;
    border-block-color: white;
    background: #fffdf4;
    /* border: double; */
    color: black;
    /* padding-block: 5px 5px; */
  }
  .fa-calendar, .fa-arrow-left {
  background: #f9f5f4;
    border-radius: 27px;
  }
  .fa-inverse {
    color: #262626;
}
.fa-stack :hover{
  color: #FFD700
}
</style>
{% endblock %}

{% block content %}
<div style="width: 100%; text-align: center; font-size: clamp(1.5rem, 5vw, 4rem); color: white;">
    <strong style="text-transform: capitalize;">{{user}}'s {{month_string}} Milk Report  </strong>
</div>
<span class="fa-stack fa-lg"  onclick="months()" style="position: fixed; z-index: 5;">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
  <i class="fa fa-arrow-left fa-stack-1x fa-inverse" style="display: none;"></i>
</span>
<div id="mySidenav" class="sidenav_months" style="width: 0px; margin-left: 4%; border-radius:44px; z-index: 5;">
  <marquee style="font-size: 16px;" behavior="scroll" direction="left"><strong>Please note that the data only can be viewed for past six months...</strong> </marquee>
  <br>
  <br>
  {% for month_year in past_months_list %}
  <a href="{{url_for('report_month_year',user_type=user_type,user_id=user_id ,month=(month_year[0]), year=(month_year[1]))}}">{{month_year[2]}} {{month_year[1]}}</a>
  <br/>
  {% endfor %}
</div>

<div class="row">
  <div class="col-1" style="display: inline-block;"></div>
  <div class="col-3" style="display: inline-block;">
    <!-- from date and input here -->
    <!-- have to make this float right -->
    <label class="parameter_label">
      <strong>From Date:</strong>
    </label>
    <input type="date" name="fromDate" id="fromDate" style=" position: relative;" required="required" onchange="changedateval()"> 
  </div>
  <div class="col-3" style="display: inline-block;">
    <!-- to date label and input here -->
    <label class="parameter_label"><strong>To Date:</strong></label>
    <input type="date" name="toDate" id="toDate" style="position: relative;" required="required">
  </div>
  <div class="col-1" style="display: inline-block;">
    <input style="position: relative; width: 60%; padding: 0.5%;" type="button" value="Go" onclick="get_reports_for_dates()" id="Go">
  </div>
  <div class="col-3" style="display: inline-block;">
    <!-- Total Bill -->
    <label id="totalBillAtAGlance">
      <strong>Total Bill: </strong>
    </label>
    <label>
      <strong id="report_total_box">&#8377;{{ total_price }}</strong>
    </label>
  </div>
</div>

<!-- <p type="text" name="total" id="total" style="position: absolute; margin-left: 73%;" ><strong>{{ total_price }}</strong></p> -->
<br><br>
<!-- The below code was added to set the from and to dates to the values which user had selected before clicking on GO -->
{% if submitted=="Yes" %}
{{ from_date }}
  <script>
    document.getElementById("fromDate").value='{{ from_date }}';
    document.getElementById("toDate").value='{{ to_date }}';
    // Added below line so that even when user selects any from date after first GO, still the toDate should populate same as that of fromDate by default;
    //without this line, it would always by default take todate of past GO 
    document.getElementById("fromDate").addEventListener("onchange", changedateval);
  </script>
{% endif %}
<table id="report_table">
  <tr>
    <th>Date</th>
    <th>Item Type</th>
    <th>Item Qty</th>
    <th>Price</th>
  </tr>
  {% for day_item in report_list %}
    {% if day_item is not none %}
      {% for item in day_item %}
        <tr>
          <td> {{ item['date'] }} </td>
          <td> {{ item['type'] }} </td>
          <td> {{ item['qty'] }} </td>
          <td> {{ item['price'] }} </td>
        </tr>
      {% endfor %}
    {% endif %}  
  {% endfor %}
  <tr>
    <td colspan="3" style="text-align: center; font-size: clamp(0.75rem, 3.75vw, 2.25rem);"> <strong>TOTAL BILL AMOUNT</strong> </td>
    <td style="font-size: clamp(0.75rem, 3.75vw, 2.25rem);"><strong>&#8377;{{ total_price }} </strong>  </td>
  </tr>  
</table>
<script>

  function get_reports_for_dates() {
    // (A) APPEND DATA
    var fromDate = document.getElementById("fromDate").value;
    var toDate = document.getElementById("toDate").value;
    // (B) URL + REDIRECT
    location.replace("/report"+'/{{user_type}}-{{user_id}}/' + fromDate + ':' + toDate);
  }
// Below function will by default set the todate value same as that of the fromdate initially, 
//then user can change if required
  function changedateval(){
        // alert('hey: '+fromDate);
        var toDate=document.getElementById("toDate").value;
        
        var fromDate=document.getElementById("fromDate").value;
        
        document.getElementById("toDate").value = fromDate;
        // toDate.setAttribute("value",fromDate);  --this should hv worked, but it did not
      
        
      }
  function months(){
    console.log('inside months')
    var arrow=document.getElementsByClassName("fa-arrow-left")[0];
    var calendar=document.getElementsByClassName("fa-calendar")[0];
    console.log('arrow:',arrow);
    console.log('calendar:',calendar);
    if (arrow.style.display=="none")
    {
      document.getElementsByClassName("sidenav_months")[0].style.width="196px";
      arrow.style.display="block";
      calendar.style.display="none";
    }
    else if (calendar.style.display=="none")
    {
      document.getElementsByClassName("sidenav_months")[0].style.width="0px";
      arrow.style.display="none";
      calendar.style.display="block";     
    }
    else{

    }
  }
  </script>
{% endblock %}

