<!DOCTYPE html>
<html>

<head>
  <title>Doodh</title>
   <link rel="icon" type="image/x-icon" href="../static/images/milk_1.png">
    <link rel="stylesheet" type="text/css" href="../static/css/home_css.css">
   <meta name="google-signin-client_id"
  content="619500584057-gk7d4vh5v052kek376h4o64s7hbcafoe.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <style>
  .googlebtn{
    position: absolute;
    bottom: 25px;
    left: 40%;
    top: 80%;
  }
  #lowerbox{
    font-size:20px; 
    border-top: 1px solid white;
    height: 115px;
  }
  </style>
</head>

<body >

<div class="bg-image"></div>

<h1>Project Doodh</h1>
<div class="bg-text">
<form action="/action_page.php">

 <input type="text" name="Username" placeholder="Username" style="position: relative; top: 50%;">
 <br>
 <input type="text" name="Password" placeholder="Password">
  <!--br-->
  <br>
   <input type="submit" value="Login" style="width:60%">
  <br>

<div id="lowerbox">
  <p>_______OR_______</p>
  <div> <a href="{{url_for('signup')}}"> Sign Up </a></div>
 <div class="googlebtn">
<div style="margin-right: 30px;" class="g-signin2" data-onsuccess="onSignIn"></div>
</div>
</div>
</form>
</div>
<script>

  function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

  location.replace("http://localhost:5000/signin-success/Google/"+profile.getEmail()+"/"+profile.getName())
  // document.querySelector('#usrname').innerText="Hello  "+googleUser.getBasicProfile().getGivenName()+"!";
}
</script>

</body>
</html>